<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innerken.pwa_aaden_admin">
    <!-- Necessary permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" /> <!-- Add support for Chromebooks -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".AadenPWA"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@drawable/logo_white_margin"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@drawable/logo_white_margin"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true">
        <activity android:name=".PasswordActivity"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="admin.aaden.io"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="admin.aaden.io"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="admin.aaden.io"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="admin.aaden.io"
                    android:pathPrefix="/"
                    android:scheme="https" />
            </intent-filter>
        </activity> <!-- Support super wide screens -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>